<div class="card-body">
  <%= form_with(model: friend) do |form| %>
    <% if friend.errors.any? %>
      <div id="error_explanation" class="alert alert-danger w-100 mx-auto mt-3 alert-dismissible fade show" role="alert">
        <h5><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h5>
        <ul>
          <% friend.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <div class="field mb-3">
      <%= form.label :first_name, class: 'form-label' %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="field mb-3">
      <%= form.label :last_name, class: 'form-label' %>
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="field mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="field mb-3">
      <%= form.label :phone, class: 'form-label' %>
      <%= form.text_field :phone, class: 'form-control' %>
    </div>
    <div class="field mb-3">
      <%= form.label :twitter, class: 'form-label' %>
      <%= form.text_field :twitter, class: 'form-control' %>
    </div>
    <div class="field mb-3">
      <%= form.number_field :user_id, id: :friend_user_id, value: current_user.id, type: :hidden, class: 'form-control' %>
    </div>
    <div class="actions">
      <% puts "formm #{form.submit}" %>
      <%= form.submit class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Cancel', friends_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  <% end %>
</div>
