<% if user_signed_in? %>
  <h2>Friends</h2>
  <table class='table table-hover'>
    <thead class='table-light'>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Email</th>
        <th scope='col'>Phone</th>
        <th scope='col'>Twitter</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td> <%= "@" + friend.twitter %></td>
            <% if friend.user == current_user %>
              <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add Friend', new_friend_path, class: 'btn btn-primary' %>
<% else %>
  <h1>Rails Buddies</h1>
  <p>A web application to save your Rails friends' information.</p>
  <p>Please Sign up or Sign in to start.</p>
<% end %>
